.custom-shape-divider-top-1713175246 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 10;
}

.custom-shape-divider-top-1713175246 svg {
    position: relative;
    display: block;
    width: calc(138% + 1.3px);
    height: 129px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1713175246 .shape-fill {
    fill: #FBF2E0;
}